# Backup files
*~

# Mac Finder files
.DS_Store

# Ignore log files
backend/logs/

# Cache
__pycache__

# Note, to ignore specific files,
# such as backend/logs/prismlog.txt or db/prism.db,
# you may need to run the following:
# git update-index --skip-worktree backend/logs/prismlog.txt
#
# To reverse,
# git update-index --no-skip-worktree backend/logs/prismlog.txt
