# Backup files
*~

# Mac Finder files
.DS_Store

# Ignore log files
# Note, to ignore backend/logs/prismlog.txt, you may need to run the following:
# git update-index --skip-worktree backend/logs/prismlog.txt 
backend/logs/
