[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruamel-yaml = "*"
datetime = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
pycodestyle = "*"
dodgy = "*"
radon = "*"
flake8-polyfill = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
